.date-filter {
	padding-top: 45px;
	justify-content: center;
	text-align: center;
}

.dropdown {
	margin-left: 20px;
	border: none;
	border-radius: 5px;
	background-color: #efefef;
	color: #1d2240;
	font-size: 12px;
	padding: 15px 9px 15px 9px;
	transition: transform 80ms ease-in;
}

label {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding-top: 50px;
	padding-left: 50px;
	color: #1d2240;
}

option {
	text-align: center;
}
